.navbar{
    transition: box -shadow 0.3s ease-in-out;

}
.navbar-brand {
     
    font-size: 1.3rem;
}

.btn{
    font-weight: 500;
}

.navbar .btn-outline-success:hover{

    background-color: #198754;
    color: #fff;

}
